* {
  font-size: 14px;
}

.formData {
  & > p {
    margin: 20px 0 10px;
  }
  & > div {
    border: 1px solid #1f2329;
    padding: 8px 10px;
    border-radius: 0.213333rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5;
    background: #161a33;
    img {
      height: 100%;
    }
    div {
      display: flex;
      align-items: center;
      i {
        color: var(--ex-active-font-color);
      }
      p {
        margin: 0 5px;
        color: #a0a5af;
      }
    }
    .jiantou {
      font-size: 10px;
    }
    input::placeholder {
      color: var(--ex-login-input-font-color);
    }
    input {
      background: #161a33;
      padding: 3px 0;
      flex: 1;
    }
    span {
      // width: 50px;
      background-color: var(--ex-passive-font-color);
      height: 30px;
    }
    & > p {
      color: white;
      background: linear-gradient(39deg, rgb(203, 78, 232) 0%, rgb(16, 244, 177) 100%);
      border: 0px;
      height: 0.906667rem;
      padding: 0 0.266667rem;
      min-width: 2.026667rem;
      font-size: 0.32rem;
      text-align: center;
      line-height: 0.906667rem;
      border-radius: 10px;
    }
  }
}
.forgotPwd {
  font-size: 12px;
  margin-top: 10px;
  text-align: right;
  color: var(--ex-font-color9);
}
.van-toast__text {
  color: var(--ex-font-color);
}
.requirePass {
  font-size: 10px;
  margin-top: 8px;
  color: var(--ex-font-color14);
}
